<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Mail</title>
    <!-- Add your CSS links here -->
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ user.first_name }}</h1>
        <p>Your email address is {{ user.email }}</p>

        <p>A verification email has been successfully sent to your email address.</p>

       {% if maessages %}
            {% for i in maessages %}
                <p>{{ i }}</p>
            {% endfor %}
       {% endif %}
    </div>
</body>
</html>
