{% extends 'base1_dashboard.html' %}
{% load static %}

{% block reset-active %}active{% endblock reset-active %}

{% block content %}
  <!-- Profile Section -->
  <div class="reset-section active-section">
    <h2 class="mb-4">My Profile</h2>
    <div class="card">
      <div class="card-body">
        <form method="POST" action="{% url 'reset_password' %}">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label">Old Password</label>
              <p>{{ form.old_password }}</p>
            </div>
            <div class="col-md-6">
              <label class="form-label">New Password</label>
              <p>{{ form.new_password1 }}</p>
            </div>
            <div class="col-md-6">
                <label class="form-label">Confirm New Password</label>
                <p>{{ form.new_password2 }}</p>
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
